.product-container {
    width: 150px;
}

.product-container > img {
    width: 100%;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    display: flex;
    align-items: center;
    gap: 10px;
}